@use "../../style/params.scss" as *;

.start-page {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $background-color;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: toRem(10);

    background-color: $dark-background-color;
    padding: toRem(55);
    border-radius: toRem(8);

    h1 {
      color: $headers-color;
      text-align: center;
    }

    button a {
      width: 100%;
    }
  }
}