@use "../style/params.scss" as *;
@import './vendor/normalize.scss';

.p-password-input{
    width: 100%;
}

.grid{
    margin-right: 0;
}

.tests-started{
    height: 0px;
    opacity: 0;
}

.col{
    padding: 0;
}
.p-inputtext {
    background-color: $background-color;
    border-color: $background-color;
    color: $text-color;
    &:hover{
        border-color: $primary-color !important;
    }
}


.p-component{
    &:hover{
        border-color: $primary-color !important;
    }
}
.shade{
    box-shadow: 0px 4px 10px 0px #00000040 inset;
}

.param{
    color: $text-color;
    cursor: pointer;
    &:hover{
        color: $headers-color !important;
    }
}

.ic{
    cursor: pointer;
    &:hover{
        color: $headers-color !important;
    }
}

.param-selected{
    color: $headers-color;
    background-color: $primary-color;
    border: toRem(8) solid $primary-color;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}

.p-autocomplete-panel{
    background-color: $background-color;
    color: white;
}
.p-autocomplete-item{
    color: $text-color !important;
}


.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item:hover {
    color: $headers-color !important;
    background: $primary-color;
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    margin: 0;
    padding: toRem(12) toRem(20);
    border: 0 none;
    color: $headers-color;
    background: $primary-color;
    transition: box-shadow 0.2s;
    border-radius: 0;
}
.p-dropdown .p-dropdown-label.p-placeholder {
     color: $headers-color; 
}

.p-dropdown-panel{
    background: $primary-color;
}

.p-multiselect {
    width: 210px;
}

.p-multiselect .p-multiselect-label.p-placeholder {
    color: $headers-color;
    background-color: $primary-color;
}

.p-multiselect .p-multiselect-trigger{
    color: $headers-color;
    background-color: $primary-color;

}

.p-multiselect-panel .p-multiselect-items {
    padding: 0 !important;
   
}

.p-multiselect-panel .p-multiselect-item {
    span {
        color: $headers-color;
    }
    &:hover {
        transition: all .3s;
        span {
            color: $not-color;
        }
    }
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    background-color: $primary-color;
}

.p-multiselect-panel .p-multiselect-header {
    background-color: #22848b;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    color: $primary-color;
    background: #EEF2FF;
    span {
        color: $not-color
    }
}

.p-checkbox .p-checkbox-box.p-highlight {
    color: $primary-color !important;
    background-color: $primary-color !important;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-close {
    color: $headers-color;
}

.qa-qc {
    &__container {
        flex-direction: row;
        justify-content: flex-start;
        display: flex;
        height: 100vh;
        // &__graph {
        //     background-color: $dark-background-color;
        //     width: 100%;
        // }
    }
}


.sidebar{
    height: fit-content;
    background-color: $background-color;
    position: absolute;
    z-index: 10;
}

.sidebar-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graph-grid{
    background-color: $dark-background-color;
    width: 100%;
}

.networkvis{
    width: fillmaxwidth;
    height: 100vh;
    background-color: "#1E1E1E";
}

.table-grid{
    background-color: $dark-background-color;
    width: 100%;
    background-color: "#1E1E1E";
    min-width: toRem(800);
    scroll-behavior: smooth;
    .MuiTableContainer-root {
        &::-webkit-scrollbar-thumb {
            background-color: #1D1D1D;
            border-radius: 10px;
        }
        &::-webkit-scrollbar {
            background-color: $text-color;
            height: 4px;
            width: 4px
        }
    }
}

.modal-container {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    position: relative;
}

.header-container{
    margin-left: toRem(32);
    width: toRem(560);
}

.qa-qc__preloader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 10;
    background-color: $background-color;
    height: 100vh;
    width: 100%;
    &__logo {
        animation: loader 3s infinite linear;
    }
}

@keyframes loader {
    0% {
        transform: rotateY(0deg)
    }
    50% {
        transform: rotateY(30deg)
    }
    100% {
        transform: rotateY(0deg)
    }
}

.header{
    font-size: toRem(18);
    font-weight:600;
    color: $headers-color;
    width: toRem(560);
    overflow: hidden;
    margin-top: toRem(48)
}

.close-container {
    display: flex;
    position: absolute;
    right: toRem(24);
    top: toRem(24);
    z-index: 11;
    &:hover {
        > div {
            background-color: $primary-color;
        }
    }
    &__back-arrow {
        &:nth-child(2) {
            width: toRem(6);
            transform: rotate(-135deg);
            height: 1px;
            background-color: $headers-color;
        }
        &:first-child {
            // transform: rotate(-135deg);
            background-color: $headers-color;
            width: toRem(15);
            height: 1px;
            position: absolute;
            cursor: pointer;
        }
    }
    &__line {
        width: 15px;
        height: 1px;
        background-color: $headers-color;
        transition: background .2s;
        position: absolute;
        cursor: pointer;
        &:first-child {
            transform: rotate(-135deg);
        }
        &:last-child {
            transform: rotate(135deg);
        }  
    }
}

.button-container{
    margin-left: toRem(32);
}
.data-header{
    color: $headers-color;
    font-size: larger;
    font-weight: 600;
    margin-left: toRem(48);
}

.data{
    color: $text-color;
    margin-left: toRem(48);
}
.badge-passed {
    background-color: $primary-color;
    color: white;
    padding: toRem(4) toRem(8);
    text-align: center;
    border-radius: toRem(10);
    font-size: small;
    font-weight: 600;
}

.badge-error {
    background-color: $error-color;
    color: white;
    padding: toRem(4) toRem(8);
    text-align: center;
    border-radius: toRem(10);
    font-size: small;
    font-weight: 600;
}

.badge-not-passed {
    background-color: $not-color;
    color: white;
    padding: toRem(4) toRem(8);
    text-align: center;
    border-radius: toRem(10);
    font-size: small;
    font-weight: 600;
}

.b-cont{
    margin-bottom: toRem(24);
}

.p-password-input{
    width: 100%;
}

.grid{
    margin-right: 0;
}

.tests-started{
    height: 0px;
    opacity: 0;
}

.col{
    padding: 0;
}

.shade{
    box-shadow: 0px 4px 10px 0px #00000040 inset;
}

.param{
    color: $text-color;
    cursor: pointer;
    &:hover{
        color: $headers-color;
    }
}

.ic{
    cursor: pointer;
    &:hover{
        color: $headers-color
    }
}

.param-selected{
    color: $headers-color;
    background-color: $primary-color;
    border: toRem(8) solid $primary-color;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
  }

input {
    border: none;
    background-color: transparent;
    outline: none;
    -webkit-appearance: none;
    color: $headers-color;
}