$primary-color: #3FBAC2;
$text-color: #B3B3B3;
$headers-color: #FFFFFF;
$background-color: #272727;
$dark-background-color: #1B1B1B;
$error-color: #1B686D;
$not-color: #092B2E;
$dark-primary:#1B686D;

@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}