@use "../../style/params.scss" as *;


.hint-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: toRem(16);
  width: toRem(16);

  padding: toRem(3);

  border-radius: 100%;
  border: toRem(1) $primary-color solid;

  cursor: pointer;
  transition: .3s;

  &:hover {
    opacity: 0.7;
  }

  path {
    fill: $primary-color;
  }
}