@use "../../style/params.scss" as *;

.personal-account-dropdown {
  position: relative;
  z-index: 1000;

  &__panel {
    display: flex;
    gap: toRem(5);
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    padding: toRem(5) toRem(10);
    border-radius: toRem(8);

    &:hover {
      background-color: $dark-background-color;
    }

    img {
      width: toRem(32);
      border-radius: 100%;
      user-select: none;
    }

    path {
      stroke: white;
      fill: white;
    }

    svg {
      transition: 0.3s;
    }

    &_open {
      svg {
        transform: rotateX(180deg);
      }
    }
  }

  &__list {
    width: max-content;
    position: absolute;
    right: 0;
    z-index: 100;

    background-color: $dark-background-color;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: toRem(8);

    ul {
      list-style: none;
      border-radius: toRem(8);
      margin: 0;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        gap: toRem(10);
        color: $headers-color;
        padding: toRem(15) toRem(20);
        cursor: pointer;
        transition: .3s;
        border-radius: toRem(8);
        user-select: none;

        &:hover {
          background-color: $background-color;
        }

        svg {
          width: toRem(18);
        }
      }
    }
  }
}