@use "../../style/params.scss" as *;

.modal{
    margin-top: toRem(14);
    opacity: 0;
    top: toRem(37);
    right: 0;
    position: fixed;
    background-color: $background-color;
    height: 100%;
    width: 0px;
    box-shadow: 0px 4px 10px 0px #00000040 inset;
}
.modal.active{
    opacity: 1;
    width: toRem(560);
    transition: width .2s;
}

.modal.closed{
    transition: 1000ms;
}

.content{
    opacity: 0;
}

.content.act{
    opacity: 1;
    transition: 1000ms;
}

